.nav-bar-container {
  position: fixed;
  width: 100%;
  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    > h2 {
      color: $color-blue;
      font-family: $font-bold;
      font-size: 1.5em;
      text-shadow: $color-pink -1px 1px 1px;
      cursor: pointer;
    }
    > h2:hover {
      color: $color-pink;
    }
    .nav-back-to-home {
      height: 100%;
      > img {
        height: 100%;
      }
    }
    > input {
      width: 30vw;
      border-radius: 5px;
      padding: 5px;
    }
    > .nav-bar-welcome {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $font-bold;
      color: $color-blue;
      text-shadow: $color-pink -1px 1px 1px;
      width: 25vw;
      > a {
        > img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: solid 3px $color-blue;
        }
        > img:hover {
          border: solid 3px $color-pink;
        }
      }
    }
  }
}
