.nav-bar-container {
  position: fixed;
  width: 100%;

  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;

    >img{
        height: 100%;
    }

    >input {
        width: 30vw;
        border-radius: 5px;
        padding: 5px;
    }

    >.nav-bar-welcome {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $font-bold;
      color: $color-blue;
      text-shadow: $color-grey 1px -1px 1px;
      width: 20vw;
    }
  }
}
