.thread-selector {
  background-color: black;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 70px;
  padding: 5px;
  .t-s-pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    > h2 {
      font-family: $font-bold;
      color: $color-blue;
      font-size: 1rem;
      // text-shadow: -1px 1px 1px $color-pink;
    }
    > h2:hover {
      // color: $color-pink;
      cursor: pointer;
      text-shadow: $color-pink -1px 1px 1px;
    }
    // i{
    //   color: $color-blue;
    //   font-size: 2em;
    // }
  }
  .t-s-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    > h2 {
      font-family: $font-bold;
      color: $color-blue;
      font-size: 1rem;
      // text-shadow: -1px 1px 1px $color-pink;
    }
    > h2:hover {
      // color: $color-pink;
      cursor: pointer;
      text-shadow: $color-pink -1px 1px 1px;
    }
    // i{
    //   color: $color-blue;
    //   font-size: 2em;
    // }

    
  }
  .t-s-search {
    form {
      input{
        border: solid 2px $color-blue;
        border-radius: 5px;
        padding: 5px;
      }
    }
  }
}
.thread-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
