.big-card-container {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100vw;
  top: 100px;
  bottom: 40px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .bc-close {
    font-size: 3em;
    position: fixed;
    top: 120px;
    right: 120px;
    border: solid $color-blue 5px;
    text-shadow: -1px 1px 1px $color-pink;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 1px 1px $color-pink;
  }
  .bc-close:hover {
    color: $color-pink;
    cursor: pointer;
  }
  .big-card {
    background-color: $color-grey;
    width: 70%;
    height: 90%;
    border: solid $color-blue 3px;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    .bc-movie {
      height: 30%;
      width: 100%;
      background-color: black;
      display: flex;
      border-radius: 10px;
      padding: 5px;
      .bc-movie-poster {
        img {
          width: 160px;
          height: 100%;
        }
      }
      .bc-movie-details {
        padding: 10px;
        .bc-title-vote {
          font-family: $font-bold;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .bc-date {
            font-family: $font-regular;
        }
        .bc-synopsis {
            font-family: $font-regular;
        }
      }
    }
    .bc-comments {
      height: 70%;
    }
  }
}
