.comments-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .comments-thread-container {
    .comments-thread {
      border: solid 3px $color-blue;
      border-radius: 10px;
      padding: 0 10px 0 0;
      margin: 10px;
      display: flex;
      background-color: white;
      .comments-picture {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: solid 2px $color-blue;
          margin: 10px;
        }
      }
      .comments-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .comments-pseudo {
          font-family: $font-bold;
          font-size: 1.1em;
        }
        .comments-date {
          font-size: 0.8em;
          text-align: end;
        }
      }
    }
  }
  .comments-form {
    padding: 5px;
    border: solid 3px $color-blue;
    border-radius: 10px;
    form {
      display: flex;
      justify-content: space-around;
      .input-message {
        width: 70%;
        padding: 5px;
        border: solid 3px $color-blue;
        border-radius: 10px;
      }
      .input-btn {
        padding: 5px;
        border: solid 3px $color-blue;
        border-radius: 10px;
        background-color: black;
        color: $color-grey;
      }
      .input-btn:hover {
        cursor: pointer;
        border: solid 3px $color-pink;
        background-color: $color-blue;
      }
    }
  }
}
