.little-card {
  border: solid 3px $color-blue;
  width: 40%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: black;
  .card-container {
      height: 100%;
      display: flex;
      align-items: center;
    .card-poster {
      background-color: white;
      width: 20%;
      height: 95%;
      border-radius: 10px;
      margin-left: 5px;
    }
  }
}
