.little-card {
  border: solid 3px $color-blue;
  width: 40%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: black;
  color: $color-blue;
  .card-container {
    height: 100%;
    display: flex;
    align-items: center;
    .card-poster {
      width: 137px !important;
      height: 183px;
      border-radius: 10px;
      margin-left: 5px;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    .card-details {
      display: flex;
      flex-direction: column;
      width: 75%;
      height: 100%;
      justify-content: space-around;
      padding-left: 5px;
      .card-title-vote {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card-title {
          font-family: $font-bold;
          font-size: 1.5em;
        }
        .card-vote {
          font-family: $font-bold;
          font-size: 1.5em;
        }
      }
      .card-date {
        font-family: $font-regular;
      }
      .card-synopsis {
        font-family: $font-regular;
      }
      .card-comment-icon {
        text-align: end;
        i {
          font-size: 1.5em;
          text-shadow: $color-pink -1px 1px 1px;
        }
        i:hover {
          color: $color-pink;
          cursor: pointer;
        }
      }
      .no-comment {
        font-family: $font-regular;
        font-size: 0.8em;
      }
    }
  }
}
