.all-sign-container {
  width: 20vw;
  .all-sign-list {
    width: 100%;
    > ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      > li {
        cursor: pointer;
        color: $color-blue;
        font-family: $font-bold;
        font-size: 1em;
      }
      > li:hover {
        text-shadow: $color-pink -1px 1px 1px;
      }
      .active-btn {
        text-decoration: underline 3px;
      }
    }
  }
  .all-sign-burger {
    display: none;
  }
}

.back-home {
  position: fixed;
  top: 120px;
  font-size: 2em;
  color: $color-blue;
  text-shadow: $color-pink -1px 1px 1px;
}