.all-sign-container {
  width: 20vw;
  
  
  .all-sign-list {
    width: 100%;
    >ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      color: $color-blue;
      font-family: $font-bold;
      font-size: 1.5em;
      text-shadow: $color-pink -1px 1px 1px;
      >li {
          cursor: pointer;
      }
      >li:hover{
        color: $color-pink;
      }
      .active-btn{
        text-decoration: underline 3px;
      }
    }
  }
}
