.signup {
  position: fixed;
  background-color: black;
  top: 100px;
  right: 0;
  bottom: 40px;
  color: $color-blue;
  font-family: $font-bold;
  
  width: 15%;
  animation: 0.3s linear 0s slide_menu;
  display: flex;
  justify-content: center;
  align-items: center;

  >form {
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;

    >label {
      text-align: center;
    }

    >.btn {
      background-color: $color-blue;
      color: $color-grey;
      box-shadow: $color-pink 0 2px 10px;
      font-family: $font-regular;
      cursor: pointer;
    }

    >.error {
      height: 70px;
      color: red;
    }

    #terms {
      align-self: center;
    }
  }
}

@keyframes slide_menu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
