// polices d'écritures
$font-bold: "exo-bold";
$font-regular: "exo-regular";

// couleurs
$color-blue: #5271FF;
$color-pink: #FF00FF;
$color-grey: #D4D4D4;
$color-heart: #FF0000;
$color-star: #FECC00;